html {
  width: auto !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  position:relative;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-y: hidden !important;
  width: auto !important;
  overflow-x: hidden !important;
  position:relative;
}

.circle-container {
  display: flex;
  justify-content: center;
}
.circle {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(#33ccff, #ff0066);
  animation: animate 1s linear infinite;
  top: 100px;
}
#timer,
#intervalnum {
  color: white;
  position: absolute;
  bottom: 300px;
  z-index: 999;
  width: 100%;
  margin: 0 auto;
  left: 5px;
  font-size: 60px;
  display: flex;
  justify-content: center;
}
#timer {
  top: 220px;
}
#intervalnum {
  top: 170px;
  font-size: 24px;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle::after {
  content: "";
  position: absolute;
  top: 35px;
  right: 35px;
  bottom: 35px;
  left: 35px;
  background-color: black;
  border-radius: 50%;
}
.circle span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#33ccff, #ff0066);
  border-radius: 50%;
}

.circle span:nth-child(1) {
  filter: blur(5px);
}
.circle span:nth-child(2) {
  filter: blur(10px);
}
.circle span:nth-child(3) {
  filter: blur(20px);
}
.circle span:nth-child(4) {
  filter: blur(55px);
}

.initiates {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 75px;
}
#start,
#stop {
  color: white;
  background-color: black;
  text-decoration: none;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  width: 75px;
  height: 75px;
  padding: 15px;
  border: 1px solid white;
  margin: 0 150px 0 150px;
  font-family: "Barlow Semi Condensed", sans-serif;
  min-width: 75px;
  min-height: 75px;
}

.inputs {
  display: flex;
}
input {
  justify-content: flex-end;
  display: flex;
  background-color: transparent;
  border: none;
  z-index: 1000;
}
.allinputs {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.interval-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.work,
.rest {
  margin: 0px 130px 0px 130px;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
label {
  display: flex;
  justify-content: center;
}
#rest,
#work {
  margin-top: 15px;
}
#work-time,
#rest-time {
  margin: 0;
  width: 100%;
  height: 50px;
  color: white;
  outline: none;
  font-size: 30px;
  text-align: center;
}
input::placeholder {
  border: none;
  text-align: center;
}
.interval-container {
  display: flex;
  justify-content: center;
}
#num-intervals {
  border-bottom: 1px solid white;
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  outline: none;
  color: white;
  font-size: 30px;
  text-align: center;
}
.num-of-int {
  font-size: 18px;
}
.intervalnum-cont {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  html,
  body {
    width: auto !important;
    overflow-x: hidden !important;
  }
  .circle {
    width: 250px;
    height: 250px;
  }
  .work,
  .rest {
    margin: 0px 50px 0px 50px;
  }
  #start,
  #stop {
    margin: 0 75px 0 75px;
    width: 75px;
    height: 75px;
  }
  #timer {
    top: 200px;
  }
  .initiates {
    top: 50px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
